.env
terraform/.terraform
terraform/.terraform.lock.hcl
components/*/__pycache__
components/*/*/__pycache__
components/*/*/*/__pycache__
terraform/modules/files/lambda_key.json
terraform/modules/files/gcp_key_spark.json
terraform/modules/files/lambda.zip
components/dbt/app/.user.yml
components/dbt/app/target
components/dbt/app/logs

tests/__pycache__
.vscode
tests/integration/lambda/__pycache__
tests/integration/lambda/files/*
tests/integration/lambda/.terraform
tests/integration/lambda/.terraform.lock.hcl
tests/integration/lambda/nohup.out
tests/integration/lambda/.terraform.tfstate.lock.info
tests/integration/lambda/terraform.tfstate.backup
tests/integration/lambda/yellow_tripdata_2019-08.parquet
.pytest_cache
scripts/__pycache__
mlruns