.env
/terraform/.terraform
.mpypy_cache
scripts/gitpush.sh
.vscode
terraform/modules/files/dependencies.zip
components/airflow/dags/__pycache__
/terraform/*.tfstate
train_model/script/__pycache__
secrets/aws_creds.json
.terraform
terraform/.cloudignore
.git
components/dbt/dbt_packages
/terraform/.terraform.tfstate.lock.info
*.tfvars
terraform/modules/files/lambda
.ipynb_checkpoints
scripts/get-cluster-creds.sh
__pycache__
components/dbt/logs
secrets/lambda_key.json
.cloudignore
.pytest_cache
/terraform/.terraform.lock.hcl
components/airflow/tests/__pycache__
development
components/dbt/target
*.tfstate
secrets/secrets.env
terraform/terraform.tfstate.backup
tests/__pycache__
.trunk
components/dbt/.user.yml
nohup.out
components/train_model/script/__pycache__
secrets/secret.env