.env
terraform/.terraform
terraform/.terraform.lock.hcl
components/*/__pycache__
terraform/modules/files/lambda_key.json
terraform/modules/files/gcp_key_spark.json
terraform/modules/files/lambda.zip
components/dbt/app/.user.yml
components/dbt/app/target
components/dbt/app/logs
components/spark/scripts/__pycache__
components/docs_app/docker/__pycache__
components/airflow/dags/__pycache__
components/airflow/dags/addons/__pycache__
tests/__pycache__
.vscode
tests/integration/lambda/__pycache__